

containers {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    background: #ecf0f3;
}

.log-div {
    /* Login Card Width and height */
    width: 350px;
    height: auto;
    margin: 55px 265px 100px 453px;
    /* padding */
    padding: 20px 35px 15px 35px;
    border-radius: 35px;
    background: #ecf0f3;
    /* Box-shadow for 3d visualization*/
    box-shadow: -6px -6px 6px rgba(255, 255, 255, 0.8), 6px 6px 6px rgba(0, 0, 0, 0.2);
}

.log-title {
    text-align: center;
    font-size: 28px;
    padding-top: 24px;
    letter-spacing: 0.5px;
    color: #6807f9;
}



.log-input-fields {
    width: 100%;
    padding: 20px 5px 10px 5px;
}

    .log-input-fields .input {
        /* To hide default browser optios of input field */
        border: none;
        text-align: center;
        outline: none;
        /* Custom design for the input field */
        background: none;
        font-size: 18px;
        color: #555;
        padding: 15px 10px 15px 5px;
    }

.log-user {
    margin-bottom: 20px;
    border-radius: 20px;
    /* Box-shadow for 3d */
    box-shadow: inset 5px 5px 5px #cbced1, inset -5px -5px 5px #ffffff;
}



.log-button {
    /* To hide default browser optios of input field */
    outline: none;
    border: none;
    /* Custom design for the Button */
    cursor: pointer;
    width: 100%;
    height: 60px;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    color: #fff;
    text-align: center;
    background: #67d18a;
    box-shadow: 7px 7px 8px #cbced1, -7px -7px 8px #ffffff;
    transition: 0.5s;
}

    .log-button:hover {
        background: #5fb87d;
    }

    .log-button:active {
        background: #4a9764;
    }

.back {
    margin:0;
    background-color: antiquewhite;
}



.btn-algins {
    margin-right: 7rem
}

label.error {
    color: red;
    margin-left: 1rem;
}


